body{
  margin:0;
  font-family:Arial, Helvetica, sans-serif;
  background:#0f172a;
  color:white;
  text-align:center;
}

.hidden{display:none}

button{
  padding:12px 22px;
  font-size:18px;
  border:none;
  border-radius:10px;
  margin:10px;
  cursor:pointer;
}

#menu button{width:220px}

#arenaContainer{
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
}

.arenaCard{
  background:#1e293b;
  width:220px;
  margin:10px;
  padding:10px;
  border-radius:12px;
  cursor:pointer;
}
.arenaCard.locked{opacity:.4}
.arenaCard.active{border:3px solid gold}

.arenaMap{
  height:70px;
  border-radius:8px;
  margin-bottom:6px;
}

#gameScreen{background:#1e40af}

#topHUD{
  display:flex;
  justify-content:space-between;
  padding:10px 30px;
  font-size:20px;
}

#elixirBar{
  height:16px;
  background:#312e81;
  margin:8px auto;
  width:90%;
  border-radius:8px;
}
#elixirFill{
  height:100%;
  width:0%;
  background:#a855f7;
  border-radius:8px;
}

#hand{
  display:flex;
  justify-content:center;
}

.card{
  width:90px;
  height:120px;
  background:#1e293b;
  border-radius:12px;
  margin:8px;
  cursor:grab;
  border:3px solid #475569;
}
.card .emoji{font-size:32px}
.card .name{font-size:12px}
.card .level{font-size:12px}
.card .cost{font-size:14px}

.bigCard{
  width:140px;
  background:#1e293b;
  border-radius:12px;
  margin:10px;
  padding:10px;
  border:3px solid #475569;
}

.level-red{border-color:#ef4444}
.level-purple{
  border-color:#a855f7;
  box-shadow:0 0 12px #a855f7;
}
